html, body{
    padding : 0px;
    margin : 0px;
    height : 100%;
}
header{

    background-color :yellow;
    margin : 0;
    height : 20%;
}
header h1, header p {
    margin: 0;
    padding: 0;
}
h1 {
    text-align : center;
}
section{
    margin : 10px;
    background-color : pink;
    height : 60%;
}
footer{
    background-color : violet;
    height : 20%;
    text-indent: 10px;
}